.custom-navbar {
  background-color: rgb(31, 17, 3);
  padding: 15px 0;

  .brand-logo {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;

    .highlight {
      color: rgb(235, 174, 95);;
    }
  }

  .nav-link {
    color: #fff;
    margin-right: 15px;
    font-weight: 500;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: rgb(235, 174, 95);;
    }
  }

  .nav-buttons {
    display: flex;
    align-items: center;
    gap: 15px;

    .cart-icon {
      font-size: 18px;
      color: rgb(235, 174, 95);;
      cursor: pointer;
    }

    .contact-btn {
      border: 2px solid #fff;
      padding: 8px 18px;
      font-weight: bold;
      transition: background 0.3s ease-in-out;

      &:hover {
        background: #fff;
        color: #1b0e01;
      }
    }
  }
}
/* Contact Info */
.contact-info {
  align-items: center;
  margin-left: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 15px;
}

.contact-item a {
  text-decoration: none;
  color: white;
  margin-left: 5px;
  font-size: 14px;
}

.contact-icon {
  color: rgb(235, 174, 95);;
  font-size: 16px;
}
