/* Sidebar Container */
.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
}
.sidebar-services .card-body{
  padding:0px !important;
}
/* Services Sidebar */
.sidebar-services {
  border: none;
  background: white;
  padding: 15px;
}
.download-btn{
  background: #1b0e01 !important;
    color: #ffffff !important;
}
.appointment-btn{
  background-color: rgb(235, 174, 95) !important;
  color: #ffffff;
}

/* Sidebar Title */
.sidebar-title {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Title Dot */
.sidebar-title .dot {
  width: 8px;
  height: 8px;
  background-color: teal;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
}

/* Service List Items */
.service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #333;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: color 0.3s;
}

.service-item:last-child {
  border-bottom: none;
}

.service-item:hover {
  color:rgb(235, 174, 95);;
}

.arrow-icon {
  font-size: 12px;
  color: #888;
  float: inline-end;
}

/* Guide Card */
.guide-card {
  background-color: #008080;
  color: white;
  border-radius: 10px;
}

.guide-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}


.guide-image img {
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
}

/* Questions Card */
.question-card {
  background-color: #2b2c34;
  color: white;
  border-radius: 10px;
}

.question-title {
  font-size: 16px;
  font-weight: bold;
}

.question-text {
  font-size: 14px;
  margin-bottom: 15px;
}

.question-image img {
  height: auto;
  margin-bottom: 15px;
}

.question-card .contact-info {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.appointment-btn {
  background: #008080;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: bold;
}
